Unity/Void Defender - Shortcut.lnk
Unity/VoidDefender/VoidDefender.zip

*.idea/
/BikeProject/.idea
/BikeProject/HolderFolder/
/BikeProject/HolderFolder/*
/BikeProject/bikeaccidents/ApiKey

/.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

BikeProject/main/store
/BikeProject/HolderFolder
